//MAIN TEMPLATE 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
  <header>
    <h1>
        <a href="/">Tech Blog</a>
        </h1>
          <nav>
            {{#if loggedIn}}
            <a href="/">Homepage</a>
            <button id="logout" class="btn-no-style logout">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
  </nav>
  </header>

  <main>
    {{body}}
  </main>
  <footer>
    Thanks :)!
  </footer>
</div>

{{#if loggedIn}}
<script src="/public/assets/js/logout.js"></script>
{{/if}}
</body>

</html>