<form class="login-form">
    <div>
        <label for="email-login">Select Username</label>
        <input type="text" class="entry-field" id="email-login"/>
    </div>
    <div>
        <label form="password-login">Enter your password</label>
        <input type="password" class="entry-field" id="password-login"/>
    </div>
            <div>
                <button type="submit" class="login-signup-btn">Login: </button>
            </div>
</form>


<script src="../public/assets/js/login.js"></script>