<section class="sign-in-page">
    <div class="form-heading">
        <h1> Sign In</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="username-signup">Select Username</label>
                <inpu type="text" class="entry-field" id="username-signup"/>
            </div>
            <div>
                <label for="email-signup">Email: </label>
                <inpu type="text" class="entry-field" id="email-signup"/>
            </div>
            <div>
                <label form="password-signup">Enter your password</label>
                <inpu type="password" class="entry-field" id="password-signup"/>
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up</button>
            </div>
        </form>
    </div>
</section>

<script src="../public/assets/js/signup.js"></script>